{
    "port": 80,
    "googleAnalyticsId": null,
    "inspector": {
        "enabled": false,
        "host": "localhost",
        "username": "curvytron",
        "password": "curvytron",
        "database": "curvytron"
    }
}
